---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import ElementorPlugin from '../../components/ElementorPlugin.astro';

---

<Layout title="Plugins">
    <header class="bg-gray-800 text-white">
        <Navbar />
    </header>
    <main class="p-10">
        <ElementorPlugin/>
    </main>
</Layout>
