---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import ElementorPlugin from "../../components/ElementorPlugin.astro";
---

<Layout title="Plugins">
  <header class="text-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-white">
    <Navbar />
  </header>
  <main class="p-10 mx-auto max-w-7xl">
    <ElementorPlugin />
  </main>
</Layout>
