---
import { Image } from "astro:assets";

import AutomationImg from "../assets/img/ssds7.jpg";
---

<div class="pt-12 overflow-hidden bg-white dark:bg-gray-900 sm:pt-28 sm:pb-12">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-9 sm:gap-y-20 lg:grid-cols-2 lg:items-center">
      <!-- Kolom 1 -->
      <div class="m-4 sm:px-6 lg:px-0 sm:m-0">
        <div class="relative overflow-hidden shadow-xl isolate bg-cyan-500 sm:mx-auto sm:max-w-2xl rounded-3xl lg:mx-0 lg:max-w-none">
          <div class="max-w-2xl mx-auto sm:mx-0 sm:max-w-none">
            <Image
              src={AutomationImg}
              alt="Product screenshot"
              width="2432"
              height="1442"
              class="w-[37.5rem] sm:max-w-none rounded-tl-xl ring-1 ring-white/10"
            />
          </div>
        </div>
      </div>

      <!-- Kolom 2 -->
      <div class="px-6 lg:px-0 lg:pl-8 lg:pt-4">
        <div class="max-w-2xl mx-auto space-y-4 lg:mx-0 lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-cyan-600 dark:text-cyan-200">#ChatBot</h2>
          <p class="mt-2 text-2xl font-bold tracking-tight text-gray-900 font-sora dark:text-gray-100 sm:text-4xl">Automation Response</p>
          <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-100">
            Membalas pesan pelanggan tidak lagi secara manual, dengan Dripsender semua bisa otomatis
          </p>
          <dl class="max-w-xl mt-10 space-y-4 text-base leading-7 text-gray-600 dark:text-gray-100 lg:max-w-none">
            <div class="relative pl-12">
              <dt class="inline font-semibold text-gray-900 dark:text-cyan-100">
                <svg
                  class="absolute w-8 h-8 left-1 top-1 text-cyan-500 dark:text-cyan-100"
                  viewBox="0 0 24 24"
                  fill="transparent"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"
                    clip-rule="evenodd"></path>
                </svg>
                Chatbot ->
              </dt>
              <dd class="inline">Membuat chatbot Anda sendiri, yang bisa membalas pesan otomatis</dd>
            </div>
            <div class="relative pl-12">
              <dt class="inline font-semibold text-gray-900 dark:text-cyan-100">
                <svg
                  class="absolute w-8 h-8 left-1 top-1 text-cyan-500 dark:text-cyan-100"
                  viewBox="0 0 24 24"
                  fill="transparent"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"
                    clip-rule="evenodd"></path>
                </svg>
                Bot Keyword ->
              </dt>
              <dd class="inline">Bot bisa dengan keyword yang Anda tentukan, tanpa batasan keyword</dd>
            </div>
            <div class="relative pl-12">
              <dt class="inline font-semibold text-gray-900 dark:text-cyan-100">
                <svg
                  class="absolute w-8 h-8 left-1 top-1 text-cyan-500 dark:text-cyan-100"
                  viewBox="0 0 24 24"
                  fill="transparent"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"
                    clip-rule="evenodd"></path>
                </svg>
                Unlimited Bot ->
              </dt>
              <dd class="inline">Buat bot sebanyak Anda mau dan sebanyak kebutuhan automation yang Anda inginkan</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
