---

---

<div class="py-16 sm:py-32 pb-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center mb-6">
      <p class="text-3xl font-semibold tracking-tighter leading-8 text-cyan-700 sm:text-5xl">
        Dripsender Memiliki Fitur yang Anda Perlukan
      </p>
      <p class="mt-6 text-xl font-light text-gray-600 sm:text-2xl">
        Satu Tool Untuk Semua Kebutuhan Anda 🔥
      </p>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-300 rounded-2xl">
        <thead>
          <tr class="bg-gray-200 text-gray-700">
            <th class="py-4 px-6 text-left font-semibold">Features</th>
            <th class="py-4 px-6 text-left font-semibold">Penjelasan</th>
          </tr>
        </thead>
        <tbody class="border border-gray-100">
          <tr>
            <td class="py-4 px-6 border-t">Grabbing Contact</td>
            <td class="py-4 px-6 text-left border-t"
              >Bisa melakukan grabb / scrapping semua data kontak yanga da di grup atau yang sedang
              chat dengan nomor Anda</td
            >
          </tr>
          <tr>
            <td class="py-4 px-6 border-t">Grabbing Contact</td>
            <td class="py-4 px-6 text-left border-t"
              >Bisa melakukan grabb / scrapping semua data kontak yanga da di grup atau yang sedang
              chat dengan nomor Anda</td
            >
          </tr>
          <tr>
            <td class="py-4 px-6 border-t">Grabbing Contact</td>
            <td class="py-4 px-6 text-left border-t"
              >Bisa melakukan grabb / scrapping semua data kontak yanga da di grup atau yang sedang
              chat dengan nomor Anda</td
            >
          </tr>
          <tr>
            <td class="py-4 px-6 border-t">Grabbing Contact</td>
            <td class="py-4 px-6 text-left border-t"
              >Bisa melakukan grabb / scrapping semua data kontak yanga da di grup atau yang sedang
              chat dengan nomor Anda</td
            >
          </tr>
          <tr>
            <td class="py-4 px-6 border-t">Grabbing Contact</td>
            <td class="py-4 px-6 text-left border-t"
              >Bisa melakukan grabb / scrapping semua data kontak yanga da di grup atau yang sedang
              chat dengan nomor Anda</td
            >
          </tr>
          <tr>
            <td class="py-4 px-6 border-t">Grabbing Contact</td>
            <td class="py-4 px-6 text-left border-t"
              >Bisa melakukan grabb / scrapping semua data kontak yanga da di grup atau yang sedang
              chat dengan nomor Anda</td
            >
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
