---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <header class="text-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-white">
    <Navbar />
  </header>

  <article class="mx-auto prose lg:prose-xl">
    <h1>{frontmatter.title}</h1>
    <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
    <slot />
  </article>
</Layout>
